*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins',sans-serif;
	scroll-behavior: smooth;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	padding: 20px 10px;
	width: 100%;
	z-index: 1;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	transition: 0.5s;
}
.logo{
	color: #fff;
	font-weight: bold;
	font-size: 2em;
	text-decoration: none;
}
.logo span{
	color: #fb911f;
}
.nav{
	display: flex;
	position: relative;
}
.nav li{
	list-style: none;
}
.nav a{
	color: #fff;
	font-weight: 700;
	margin-left: 20px;
	text-decoration: none;
}
header .nav li a:hover{
	color: #fb911f;
	border-bottom: 2px solid #fb911f;
}
.acceuil {
	overflow: hidden;
	position: relative;
	background-image: url(app-2.jpg);
	background-size: cover;
	width: 100%;
	height: 100vh;
}
.im{
	margin: 130px auto ;
	width: 500px;
	overflow: hidden;
	margin-bottom: 30px;
}
.im2{
	width: calc(500px * 3);
	animation: glisse 10s infinite;
}
.circle{
	float: left;
	clip-path: circle();
	background: center;
	background-size: cover;
}
@keyframes glisse{
	0%{
		transform: translateX(0px);
	}
	10%{
		transform: translateX(0px);
	}
	33%{
		transform: translateX(-500px);
	}
	43%{
		transform: translateX(-500px);
	}
	66%{
		transform: translateX(-1000px);
	}
	76%{
		transform: translateX(-1000px);
	}
	100%{
		transform: translateX(0px);
	}
}
.premiere{

	justify-content: center;
	align-items: center;
}
h1{
	text-align: center;
	color: rgb(200, 90, 10);
	font-size: 4em;
}
/*section 2*/
.expert{
	position: relative;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
	background: #161623;
}
.expert .ex1{
	text-align: center;
	justify-content: center;
	align-items: center;
}
.titre{
	color: #2bf;
	text-transform: capitalize;
	font-size: 3em;
	border-bottom: 1px solid #2bf;
}
.titre span{
	color:#fb911f ;
}
.container{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	flex-wrap: wrap;
	z-index: 1;
	

}
.container .card{
	position: relative;
	width: 240px;
	height: 400px;
	margin: 30px;
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	background: rgba(255, 255, 255, 0.1);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(5px);
}
.container .card .content{
	padding: 20px;
	text-align: center;
	transform: translateY(50px);
	opacity: 1;
	transition: 0.5s;
}
.container .card:hover .content{
	transform: translateY(0px);
	opacity: 1;
}
.container .card .content h2{
	position: absolute;
	top: -80px;
	right: 30px;
	font-size: 8em;
	color: rgba(255, 255, 255, 0.05);
	pointer-events: none;
}
.container .card .content h3{
	font-size: 1.8em;
	color: #fff;
	z-index: 1;
}
.container .card .content p{
	font-size: 15px;
	font-weight: 300;
	color: #fff;
}
.container .card .content a{
	position: relative;
	display: inline-block;
	padding: 8px 20px;
	margin-top: 15px;
	background: #fff;
	color: #111;
	border-radius: 20px;
	text-decoration: none;
	font-weight: 500;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	}